.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.loader {
  /* Finally, a use for "groove"! */
  border: 24px groove rebeccapurple;

  display: table-cell;
  border-radius: 999px;
  animation: spin 15s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
